data/
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.venv
*.sqlite3
*.log
*.pkl
.DS_Store
.ipynb_checkpoints/
.mypy_cache/
.cache/
*.cover
.coverage
*.mo
*.pot
*.pyc
*.pyo
*.orig
*.swp
*.bak
*.tmp
*.~ 